
@{
    ViewData["Title"] = "Content";
    Layout = "~/Views/DS_and_A/Menu.cshtml";
}
<div style="height:100%; width: 100%; position: relative; padding-left: 15%; padding-right: 15%; ">
    <br />
    <br />
    <h1 style="text-align: center"><b>CHÀO MỪNG BẠN ĐẾN VỚI LEARNICORN</b></h1>
    <h4>Đây là trang sẽ giúp bạn tìm kiếm kiến thức trong lĩnh vực môn cấu trúc dữ liệu và giải thuật</h4>
    <h5><b>Hướng dẫn sử dụng:</b></h5>
    <ul>
        <li><p>&#8618 Nhấp vào biểu tượng  "<b>&equiv;</b>" để đóng/ mở menu </p></li>
        <li><p>&#8618 Nhấn "<b>Hiển thị kiến thức liên quan</b>" để hiển thị những kiến thức liên quan</p></li>
        <li><p>&#8618 Nhập tiêu đề bài học và nhấn vào "<b>Tìm kiếm</b>" để tìm kiếm nội dung các bài học</p></li>
        <li><p>&#8618 Nhấn vào "<b>Tìm kiếm theo các thành phần</b>" để tìm kiếm theo các mục khác như tìm kiếm bài tập, khái niệm, ...</p></li>
        <li><p>&#8618 Nhấn vào chatbot ở phải dưới để chat với bot học tập</p></li>
    </ul>

</div>
