
@{
    ViewData["Title"] = "I";
    Layout = "~/Views/DS_and_A/Menu.cshtml";
}



<div style="padding-left: 15%; padding-right: 15%; ">
    <div id="I_1" >
        <h1>CẤU TRÚC DỮ LIỆU (DATA STRUCTURE)</h1>
        <h3>Khái niệm</h3>
            <p>Cấu trúc dữ liệu là cách lưu trữ, tổ chức dữ liệu có thứ tự, có hệ thống để dữ liệu có thể được sử dụng một cách hiệu quả. </p>
    </div>
    <hr />
    <h3>Thuật ngữ cơ bản</h3>
    <ul>
        <li><p><b>Dữ liệu</b>: Các giá trị hoặc là tập hợp các giá trị.</p></li>
        <li><p><b>Phần tử dữ liệu</b>: Một đơn vị đơn lẻ của giá trị.</p></li>
        <li><p><b>Các phần tử nhóm</b>: Phần tử dữ liệu mà được chia thành các phần tử con thì được gọi là các phần tử nhóm.</p></li>
        <li><p><b>Các phần tử cơ bản</b>: Phần tử dữ liệu mà không thể bị chia nhỏ thành các phần tử con thì gọi là các phần tử cơ bản.</p></li>
        <li><p><b>Thuộc tính và Thực thể</b>: Một thực thể chứa một vài thuộc tính và các thuộc tính đó có thể được gán các giá trị.</p></li>
        <li><p><b>Tập hợp thực thể</b>: Các thực thể mà có các thuộc tính tương tự nhau thì cấu thành một tập hợp thực thể.</p></li>
        <li><p><b>Trường</b>: Một đơn vị thông tin cơ bản biểu diễn một thuộc tính của một thực thể.</p></li>
        <li><p><b>Bản ghi</b>: Một tập hợp các giá trị trường của một thực thể đã cho.</p></li>
        <li><p><b>File</b>: Một tập hợp các bản ghi của các thực thể trong một tập hợp thực thể đã cho.</p></li>
    </ul>
    <hr />
    <h3>
        Các cấu trúc dữ liệu thường gặp:
    </h3>
    <ul>

        <li><a href="I_2">Cấu trúc dữ liệu mảng (array)</a></li>
        <li><a href="I_3">Cấu trúc dữ liệu danh sách liên kết (Linked list)</a></li>
        <li><a href="I_4">Cấu trúc dữ liệu ngăn xếp (Stack)</a></li>
        <li><a href="I_5">Cấu trúc dữ liệu hàng đợi (Queue)</a></li>
        <li><a href="I_6">Cấu trúc dữ liệu cây (Tree)</a></li>
        <li><a href="I_7">Cấu trúc dữ liệu đồ thị (Graph)</a></li>
    </ul>
</div>
<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>