
@{
    ViewData["Title"] = "I_6";
    Layout = "~/Views/DS_and_A/Menu.cshtml";
}
<style>
    .zoom {
        /*padding: 50px;*/
        background-color: green;
        transition: transform .2s; /* Animation */
        margin: 0 auto;
    }

        .zoom:hover {
            transform: scale(1.3); /* (130% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }

    img {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: 0 inherit;
    }
</style>
<div style="padding-left: 15%; padding-right: 15%; ">
    <h1>CẤU TRÚC DỮ LIỆU CÂY</h1>
    <div class="container" id="I_6_1">
        <h3>Khái niệm</h3>
        <p>Cây là một tập hợp các nút (đỉnh) và các cạnh, thỏa mãn một số yêu cầu nào đó. Mối nút của cây đều có 1 định danh và có thể mang thông tin nào đó. Các cạnh dùng để liên kết các nút với nhau. Một đường đi trong cây là một danh sách các đỉnh phân biệt mà đỉnh trước đó có liên kết với đỉnh sau.</p>
        <p>Một tính chất quan trọng hình thành nên cây, đó là có đúng 1 đường đi nối 2 nút bất kỳ trong cây. Nếu tồn tại 2 nút trong cây mà có ít hoặc nhiều hơn 1 đường đi thì ta có một <a href="I_7">đồ thị</a>.</p>
        <p>Mỗi cây thường có một nút được gọi là nút gốc. Mỗi nút đều có thể coi là nút gốc của cây con bao gồm chính nó và các nút bên dưới nó. Trong biểu diễn hình học của cây,nút gốc thường nằm ở vị trí cao nhất, tiếp theo là các nút kế tiếp.</p>
        <p>Ta có một số cây đặt biệt khác như:</p>
        <ul>
            <li><a href="I_6_4"> - Cây nhị phân</a></li>
            <li><a href="I_6_5"> - Cây Heap</a></li>
        </ul>
    </div>
    <div class="container" id="I_6_2">
        <h3>Biểu diễn cấu trúc dữ liệu cây</h3>
        <img src="~/Image/Tree.jpg" class="zoom" style="text-align:center" />
        <br />
        <p>Từ mô hình biểu diễn cây trên, ta có thể định nghĩa cây dưới dạng đệ quy như sau. Cây có thể là:</p>
        <ul>
            <li>
                <p>- Một nút đứng riêng lẻ (và nó chính là gốc của cây này)</p>
            </li>
            <li>
                <p>- Hoặc một nút kết hợp với một số cây con bên dưới.</p>
            </li>
        </ul>
        <p>Mỗi nút trong cây (trừ nút gốc) có đúng 1 nút nằm trên nó, gọi là nút cha (parent). Các nút nằm ngay dưới nút đó được gọi là các nút con (subnode). Các nút nằm cùng cấp được gọi là các nút anh em (sibling). Nút không có nút con nào được gọi là nút lá (leaf) hoặc nút tận cùng.</p>
        <p>Chiều cao của nút là đường đi dài nhất từ nút tới nút lá. Chiều cao của cây chính là chiều cao của nút gốc. Độ sâu của 1 nút là độ dài đường đi duy nhất giữa nút gốc và nút đó.</p>
        <p>Một cây được gọi là có thứ tự nếu các nút con của 1 nút được bố trí theo thứ tự nào đó. Ngược lại gọi là cây không có thứ tự.</p>
        <hr />
        <h5>Cài đặt cây</h5>
        <p>Trong cấu trúc dữ liệu cây, việc cài đặt cũng có thể cài đặt bằng 2 cấu trúc dữ liệu cơ bản là <a href="I_2">cấu trúc dữ liệu mảng</a> và <a href="I_3">cấu trúc dữ liệu danh sách liên kết</a>. Do đó ta có 2 cách cài đặt cây:</p>
        <ul>
            <li>
                <a href="#Cay_bang_mang">Cài đặt cây bằng mảng các nút cha</a>
            </li>
            <li>
                <a href="#Cay_bang_dslk">Cài đặt cây thông qua danh sách các nút con</a>
            </li>
        </ul>
        <hr />
        <div class="container" id="Cay_bang_mang">
            <p><b>a. Cài đặt cây bằng mảng các nút cha</b></p>
            <p>Giả sử ta cần cài đặt 1 cây có n nút là các nút 1, 2, ..., n. Khi đó để biểu diễn cây bằng mảng, ta sử dụng một mảng A để lưu trữ các nút cha của các nút trong cây: A[i] = j nếu j là nút cha của nút i. Nếu i là nút gốc thì ta gán giá trị A[i] = 0.</p>
            <p>Cây được biểu diễn theo cách này dựa trên tính chất: Mỗi nút trong cây chỉ có duy nhất 1 nút cha. Để tìm đường đi từ 1 nút lên gốc, ta tìm nút cha của nút đó, rồi tìm nút cha của nút vừa tìm được, v.v. cho tới khi lên đến nút gốc. Sau đây là hình ảnh biểu diễn bằng mảng của 1 cây.</p>
            <img src="~/Image/tree_array.jpg" class="zoom" style="text-align:center" />
            <br />
            <p>Với cách biểu diễn này, ta có thể dễ dàng tìm nút cha của 1 nút trên cây, nhưng nhược điểm là viẹc tìm nút con khá phức tạp, đặt biệt là tìm tấ cả các nút con của một nút sẽ tốn rất nhiều công sức. Ngoài ra, với cách biểu diễn này, ta cũng không ấn định thứ tự của các nút con.</p>
        </div>

        <div class="container" id="Cay_bang_dslk">
            <p><b>b. Cài đặt cây thông qua danh sách các nút con</b></p>
            <p>Cây có thể được cài đặt một cách hiệu quả hơn bằng cách tạp ra 1 danh sách các nút con cho mỗi nút của cây. Danh sách các nút con này có thể sử dụng bất kỳ loại <a href="I_3">danh sách liên kết</a> nào. Tuy nhiên, do số nút con của 1 nút là không xác định trước, nên dùng danh sách liên kết để biểu thị danh sách cách nút con. Biểu diễn cây theo danh sách các nút con như sau:</p>
            <img src="~/Image/tree_dslk.jpg" class="zoom" style="text-align:center" />
            <p>Biểu diễn theo phương pháp này cho phép duyệt cây dễ dàng và họp logoc hơn. Xuất phát từ gốc, ta tìm các nút con của gốc, rồi tìm các nút của con của các nút vừa tìm được, v.v. cho đến khi đến các nút lá.</p>
            <p>Khai báo cho cây theo phương pháp này trong C như sau:</p>
            <div class="card" style="background-color: #F1F1F1">
<pre style="padding: 1em; margin: .5em 0; overflow: auto;" class="card-body">
                <code>
    #define MAX 100;
    struct node{
        int item;
        struct node *next;
    };
    typedef struct node *listnode;
    typedef struct {
        int root;
        listnode subnode[MAX];
    } tree;
    </code> </pre>
            </div><br />
            <p>Trong khai báo trên, thành phần subnode[i] là con trỏ trỏ đến danh sách các nút con của nút i.</p>
        </div>
        <hr />
    </div>
    <div class="container" id="I_6_3">
        <h3>Duyệt cây</h3>
        <p>Duyệt cây là hành động duyệt qua tất cả các nút của một cây theo một trình tự nào đó. Trong quá trình duyệt, tại một nút ta có thể tiến hành một thao tác xử lý nào đó. Đối với các <a href="I_3">danh sách liên kết</a>, duyệt qua danh sách đươn giản là đi từ nút đầu, qua các liên kết và tới nút cuối cùng. Tuy nhiên, đối với cây, mỗi nút có thể có nhiều liên kết với các nút con, vì vậy thứu tự duyệt qua các nút sẽ cho các phương pháp duyệt cây theo trình tự khác nhau.</p>
        <p>Ta có 3 trình tự duyệt cây phố biến nhất, đó là:</p>
        <ul>
            <li><a href="#Preorder">Duyệt cây tiền thứ tự (Preorder Traversal)</a></li>
            <li><a href="#Inorder">Duyệt cây trung thứ tự (Inorder Traversal)</a></li>
            <li><a href="#Postorder">Duyệt cây hậu thứ tự (Postorder Traversal)</a></li>
        </ul>

        <p>Giả sử ta có một cây T với gốc n và k cây con là T1, T2, ..., Tk như hình vẽ:</p>
        <img src="~/Image/tree_preorder.jpg" class="zoom" style="text-align:center" />
        <br />
        <hr />
        <div class="container" id="Preorder">
            <p><b>Duyệt cây tiền thứ tự (Preorder Traversal)</b></p>
            <p>Quá trình duyệt cây theo tiền thứ tự được tiến hành theo trình tự như sau:</p>
            <ul>
                <li><p>- Thăm nút gốc n.</p></li>
                <li><p>- Thăm cây con T1 theo phương pháp tiền thứ tự.</p></li>
                <li><p>- Thăm cây con T2 theo phương pháp tiền thứ tự.</p></li>
                <li><p>...</p></li>
                <li><p>- Thăm cây con Tk theo phương pháp tiền thứ tự.</p></li>
            </ul>
            <img src="~/Image/tree_traver_1.jpg" class="zoom" style="text-align:center" />
            <br />
            <p>Chẳng hạn với cây sau, ta có các thứ tự duyệt:</p>
            <img src="~/Image/tree_traval.jpg" class="zoom" style="text-align:center" />
            <br />
            <div class="card" style="background-color: #F1F1F1; ">
                <p style="text-align: center"><b> 1 -> 2 -> 3 -> 4 -> 5 -> 6 -> 7 -> 8 -> 9</b></p>
            </div><br />
        </div>
        <div class="container" id="Inorder">
            <p><b>Duyệt cây trung thứ tự (Ineorder Traversal)</b></p>
            <p>Quá trình duyệt cây theo trung thứ tự được tiến hành theo trình tự như sau:</p>
            <ul>
                <li><p>- Thăm cây con T1 theo phương pháp trung thứ tự</p></li>
                <li><p>- Thăm nút gốc n.</p></li>
                <li><p>- Thăm cây con T2 theo phương pháp trung thứ tự</p></li>
                <li><p>...</p></li>
                <li><p>- Thăm cây con Tk theo phương pháp trung thứ tự</p></li>
            </ul>
            <img src="~/Image/tree_traver_2.jpg" class="zoom" style="text-align:center" />
            <br />
            <p>Chẳng hạn với cây sau, ta có các thứ tự duyệt:</p>
            <img src="~/Image/tree_traval.jpg" class="zoom" style="text-align:center" />
            <br />
            <div class="card" style="background-color: #F1F1F1; ">
                <p style="text-align: center"><b> 4 -> 3 -> 5 -> 2 -> 1 -> 6 -> 8 -> 7 -> 9</b></p>
            </div><br />
        </div>
        <hr />
        <div class="container" id="Postorder">
            <p><b>Duyệt cây hậu thứ tự (Postorder Traversal)</b></p>
            <p>Quá trình duyệt cây theo trung thứ tự được tiến hành theo trình tự như sau:</p>
            <ul>
                <li><p>- Thăm cây con T1 theo phương pháp hậu thứ tự</p></li>
                <li><p>- Thăm cây con T2 theo phương pháp hậu thứ tự</p></li>
                <li><p>...</p></li>
                <li><p>- Thăm cây con Tk theo phương pháp hậu thứ tự</p></li>
                <li><p>- Thăm nút gốc n.</p></li>
            </ul>
            <img src="~/Image/tree_traver_3.jpg" class="zoom" style="text-align:center" />
            <br />
            <p>Chẳng hạn với cây sau, ta có các thứ tự duyệt:</p>
            <img src="~/Image/tree_traval.jpg" class="zoom" style="text-align:center" />
            <br />
            <div class="card" style="background-color: #F1F1F1; ">
                <p style="text-align: center"><b> 4 -> 5 -> 3 -> 2 -> 6 -> 8 -> 9 -> 7 -> 1</b></p>
            </div><br />
        </div>
    </div>
</div>
<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>