
@{
    ViewData["Title"] = "II_1";
    Layout = "~/Views/DS_and_A/Menu.cshtml";
}

<div style="padding-left: 15%; padding-right: 15%; ">
    <div id="II_1">
        <h1>GIẢI THUẬT (ALGORYTHM)</h1>
        <h3>Khái niệm</h3>
        <p>là một thủ tục từng bước, xác định một tập hợp các lệnh được thực hiện theo một thứ tự nhất định để có được đầu ra mong muốn. Các thuật toán thường được tạo độc lập với các ngôn ngữ cơ bản, tức là một thuật toán có thể được triển khai bằng nhiều ngôn ngữ lập trình(C/C++, Java, Python, PHP…).</p>
    </div>
    <hr />
    <h3>Đặc điểm của giải thuật</h3>
    <ul>
        <li><p><b>Tính xác định: </b>Giải thuật nên rõ ràng và không mơ hồ. Mỗi một giai đoạn (hay mỗi bước) nên rõ ràng và chỉ mang một mục đích nhất định.</p></li>
        <li><p><b>Dữ liệu đầu vào xác định: </b>Một giải thuật nên có 0 hoặc nhiều hơn dữ liệu đầu vào đã xác định.</p></li>
        <li><p><b>Kết quả đầu ra: </b>Một giải thuật nên có một hoặc nhiều dữ liệu đầu ra đã xác định, và nên kết nối với kiểu kết quả bạn mong muốn.</p></li>
        <li><p><b>Tính dừng: </b>Các giải thuật phải kết thúc sau một số hữu hạn các bước.</p></li>
        <li><p><b>Tính hiệu quả: </b>Một giải thuật nên là có thể thi hành được với các nguồn có sẵn, tức là có khả năng giải quyết hiệu quả vấn đề trong điều kiện thời gian và tài nguyên cho phép.</p></li>
        <li><p><b>Tính phổ biến: </b>Một giải thuật có tính phổ biến nếu giải thuật này có thể giải quyết được một lớp các vấn đề tương tự.</p></li>
        <li><p><b>Độc lập: </b>Một giải thuật nên có các chỉ thị độc lập với bất kỳ phần code lập trình nào.</p></li>
    </ul>
    <hr />
    <h3> Các loại giải thuật </h3>
    <p>Ở đây, chúng ta tìm hiểu chủ yếu các loại giải thuật sau:</p>
    <ul>

        <li><a href="II_2">Giải thuật tìm kiếm</a></li>
        <li><a href="II_3">Giải thuật sắp xếp</a></li>
        <li><a href="II_4">Giải thuật tham lam (Greedy Algorythm)</a></li>
        <li><a href="II_5">Giải thuật chia để trị (Divide and Conquer)</a></li>
        <li><a href="II_6">Giải thuật đệ quy (Recursion Algorithm)</a></li>
        <li><a href="II_7">Giải thuật quy hoạch động (Dynamic Programming)</a></li>
        <li><a href="II_8">Giải thuật quay lui (Backtracking)</a></li>
    </ul>
</div>
<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
