
@{
    ViewData["Title"] = "II_2";
    Layout = "~/Views/DS_and_A/Menu.cshtml";
}
<style>
    img {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
</style>
<div style="padding-left: 15%; padding-right: 15%; ">
    <h1>GIẢI THUẬT TÌM KIẾM</h1>
    <p>Tìm kiếm là một thao tác rất quan trọng đối với nhiều ứng dụng tin học. Tìm kiếm có thể định nghĩa là việc thu thập một số thông tin nào đó từ một khối thông tin lớn đã được lưu trữ trước đó. Thông tin khi lưu trữ thường được chia thành các bản ghi, mỗi bản ghi có một giá trị khóa để phục vụ cho mục đích tìm kiếm. Mục tiêu của việc tìm kiếm là tìm tấ cả các bản ghi có giá trị khóa trùng với một giá trị cho trước. Khi tìm được bản ghi này, các thông tin đi kèm trong bản ghi sẽ được thu thập và xử lý.</p>
    <p>Một ví dụ về ứng dụng thực tiễn của tìm kiếm là từ điển máy tính. Trong từ điển có rất nhiều mục từ, khóa của mỗi mục từ chính là cách viết tắt của từ. Thông tin đi kèm là định nghĩa của từ, cách phát ấm, các thông tin khác nhau như loại từ, từ đồng nghĩa, khác nghĩa v.v. Ngoài ra cong rất nhiều ví dụ khác về ứng dụng của tìm kiếm, chẳng hạn một ngân hàng lưu trữ các bản ghi thông tin về khách hàng và muốn tìm trong danh sách này một bản ghi của một khách hàng nào đó để kiểm tra số dư và thực hiện các giao dịch, hoặc một chương trình tìm kiếm duyệt qua các tệp văn bản trên máy tính để tìm các văn bản có chứa các từ khóa nào đó.</p>
    <hr />
    <p>Trong giải thuật tìm kiếm có các giải thuật tìm kiếm được sử dụng phổ biến như sau:</p>
    <ul>
        <li><a href="II_2_1"><b>Tìm kiếm tuyến tính</b></a></li>
        <li><a href="II_2_2"><b>Tìm kiếm nhị phân</b></a></li>
        <li><a href="II_2_3"><b>Tìm kiếm nội suy</b></a></li>
    </ul>
</div>
<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>