
@{
    ViewData["Title"] = "II_3";
    Layout = "~/Views/DS_and_A/Menu.cshtml";
}

<style>
    img {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
</style>
<div style="padding-left: 15%; padding-right: 15%; ">
    <h1>GIẢI THUẬT SẮP XẾP</h1>
    <p>Sắp xếp là quá trình bố trí lại các phần tử của một tập hợp theo thứ tự nào đó. Mục đích chính của sắp xếp là làm cho thao tác tìm kiếm phần tử trên tập đó được dễ dàng hơn.</p>
    <p>Ví dụ về tập các đối tượng được sắp phổ biến trong thực tế là: danh bạ điện thoại được sắp xếp theo tên, các từ trong từ điển được sắp theo vần, sách trong thứ viện được sắp xếp theo mã số, theo tên, v.v.</p>

    <hr />
    <p>Trong giải thuật sắp xếp có các giải thuật tìm kiếm được sử dụng phổ biến như sau:</p>
    <ul>
        <li><a href="II_3_1"><b>Sắp xếp nổi bọt (Bubble Sort)</b></a></li>
        <li><a href="II_3_2"><b>Sắp xếp chèn (Insertion Sort)</b></a></li>
        <li><a href="II_3_3"><b>Sắp xếp chọn (Selection Sort)</b></a></li>
        <li><a href="II_3_4"><b>Sắp xếp nhanh (Quick Sort)</b></a></li>
        <li><a href="II_3_5"><b>Sắp xếp vun đống (Heap Sort)</b></a></li>
    </ul>
</div>
<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>