
@{
    ViewData["Title"] = "II_6";
    Layout = "~/Views/DS_and_A/Menu.cshtml";
}

<div style="padding-left: 15%; padding-right: 15%; ">
    <h3>GIẢI THUẬT CHIA ĐỂ TRỊ</h3>
    <div id="II_6_1">
        <h5>Khái niệm giải thuật chia để trị</h5>
        <p>
            Thuật toán chia để trị (Divide and Conquer) là một chiến lược giải quyết một vấn đề lớn bằng cách chia vấn đề thành các vấn đề phụ nhỏ hơn, giải quyết các vấn đề phụ và kết hợp chúng để có được đầu ra mong muốn.
        </p>
    </div>
    <div id="II_6_2">
        <h5>Xây dựng giải thuật chia để trị</h5>
        <p>Cách thức hoạt động của thuật toán chia để trị:</p>
        <ul>
            <li><b>1. Bước chia: </b>Chia bài toán đã cho thành các bài toán con bằng cách sử dụng kỹ thuật <a href="II_5">đệ quy</a>.</li>
            <li><b>2. Bước trị: </b>Giải các bài toán con nhỏ hơn bằng cách <a href="II_5">đệ quy</a>. Nếu bài toán con đủ nhỏ, ta sẽ giải nó một cách trực tiếp.</li>
            <li><b>3. Bước kết hợp: </b>Kết hợ các giải pháp của các bài toán con làm một phần của quá trình <a href="II_5">đệ quy</a> để giải quyết vấn đề.</li>
        </ul>
        <h5>Ưu điểm của thuật toán chia để trị</h5>
        <ul>
            <li>- Cách tiếp cận đơn giản hóa các vấn đề khác, chẳng hạn như bài tháp Hà Nội</li>
            <li>- Phù hợp với các hệ thống xử lý đa tiến trình.</li>
            <li>- Tận dụng hiệu quả bộ nhớ đệm.</li>
        </ul>
        <h5>Ứng dụng của thuật toán chia để trị</h5>
        <ul>
            <li><a href="II_2_2">- Tìm kiếm nhị phân</a></li>
            <li><a href="II_3_4">- Giải thuật sắp xếp nhanh</a></li>
            <li><a href="III_12#luythua">- Tĩnh lũy thừa</a></li>
            <li><a href="III_12#nhan2so">- Nhân 2 số nguyên lớn sử dụng chia để trị</a></li>
            <li><a href="III_12#daycon">- Dãy con lớn nhất</a></li>
        </ul>
    </div>
    <div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>

