@model IEnumerable<KnowledgeManage.Models.Lesson>
@{
    ViewData["Title"] = "Result_test";
}


<div style="height: 100vh; background-color: #F5F5F5; overflow-y: auto; overflow-x:hidden; font-size: 16px; padding-left: 15%; padding-right: 15%; text-indent: 5%;" class=" flex-fill">
    <h1 style="text-align:center">CÁC KIẾN THỨC CHO TỪ KHÓA "<span class="text-success">@ViewData["ss"]</span>"</h1>

    @if (Model.Count() > 0)
    {
        <table class="table table-hover table-bordered">
            <thead style="position: sticky;top: 0" class="thead-light">
                <tr>
                    <th>
                        <p>Tên bài học</p>
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name_Lesson)
                        </td>
                        <td>
                            <a href="@item.Id_Lesson">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    }
    else
    {
        <br />
        <br />
        <br />
        <p style="text-align:center">
            <b>KHÔNG THẤY KẾT QUẢ TÌM KIẾM CHO "<span class="text-danger">@ViewData["ss"]</span>"!!!!</b>
        </p>
    }
    <div>
        <a asp-controller="DS_and_A" asp-action="Search">Trở về trang tìm kiếm</a>
    </div>
</div>