@model IEnumerable<KnowledgeManage.Models.Lesson>
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    ul {
        list-style-type: none;
        font-size: 16px;
    }
</style>
<div class="w-100">

    <div style="border: 2px solid black; width: 100%; background-color: #e3e3e3">
        @using (Html.BeginForm())
        {
            <button type="button" class="btn btn-outline-primary col-4" style="float:left" data-toggle="collapse" data-target="#menu">Menu</button>
            <a class="btn btn-outline-primary col-4" asp-controller="DS_and_A" asp-action="Search">Nhấn vào để tìm kiếm</a>
            <button type="button" class="btn btn-outline-primary col-4" style=" float: right" data-toggle="collapse" data-target="#related">Kiến thức liên quan</button>

        }
    </div>

    <div style="float:left; width: 100%"
         class="body-content d-flex">
        <div class="collapse  flex-fill" id="menu" style="border: 2px solid black;  float: left; width: 30%; background-color:#fafafa; overflow:visible !important">
            <div style="overflow-y: scroll; overflow-x: hidden; max-height: 620px; height: 620px;">
                <ul>
                    <li>
                        <a href="#">I - CẤU TRÚC DỮ LIỆU</a>
                        <ul>
                            <li>
                                <a href="#">1. Cấu trúc dữ liệu là gì ?</a>
                            </li>
                            <li>
                                <a href="I_2">2. Cấu trúc dữ liệu mảng (Array)</a>
                                <ul>
                                    <li>
                                        <a href="I_2#2_1">2.1. Cấu trúc dữ liệu mảng là gì ?</a>
                                    </li>
                                    <li>
                                        <a href="I_2#2_2">2.2. Biểu diễn cấu trúc dữ liệu mảng</a>
                                    </li>
                                    <li>
                                        <a href="I_2#2_3">2.3. Phép toán thực hiện trên mảng</a>
                                    </li>
                                    <li>
                                        <a href="#">2.4. Mảng động</a>
                                        <ul>
                                            <li>
                                                <a href="#">2.4.1. Mảng động là gì</a>
                                            </li>
                                            <li>
                                                <a href="#">2.4.2. Biểu diễn mảng động</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">3. Cấu trúc dữ liệu danh sách liên kết (Linked list)</a>
                                <ul>
                                    <li>
                                        <a href="#">3.1. Cấu trúc dữ liệu danh sách liên kết là gì ?</a>
                                    </li>
                                    <li>
                                        <a href="#">3.2. Danh sách liên kết đơn</a>
                                        <ul>
                                            <li>
                                                <a href="#">3.2.1. Biểu diễn danh sách liên kết đơn</a>
                                            </li>
                                            <li>
                                                <a href="#">3.2.2. Các hoạt động trên danh sách liên kết đơn</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">3.3. Danh sách liên kết đôi</a>
                                        <ul>
                                            <li>
                                                <a href="#">3.3.1. Biểu diễn danh sách liên kết đôi</a>
                                            </li>
                                            <li>
                                                <a href="#">3.3.2. Các hoạt động trên danh sách liên kết đôi</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">3.4. Danh sách liên kết vòng</a>
                                        <ul>
                                            <li>
                                                <a href="#">3.4.1. Biểu diễn danh sách liên kết vòng</a>
                                            </li>
                                            <li>
                                                <a href="#">3.4.2. Các hoạt động trên danh sách liên kết vòng</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"> 4. Cấu trúc dữ liệu ngăn xếp (Stack)</a>
                                <ul>
                                    <li>
                                        <a href="#">4.1. Cấu trúc dữ liệu ngăn xếp là gì ?</a>
                                    </li>
                                    <li>
                                        <a href="#">4.2. Biểu diễn cấu trúc dữ liệu ngăn xếp</a>
                                    </li>
                                    <li>
                                        <a href="#">4.3. Các hoạt động cơ bản trên cấu trúc dữ liệu ngăn xếp</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">5. Cấu trúc dữ liệu hàng đợi (Queue)</a>
                                <ul>
                                    <li>
                                        <a href="#">5.1. Cấu trúc dữ liệu hàng đợi là gì</a>
                                    </li>
                                    <li>
                                        <a href="#">5.2. Biểu diễn cấu trúc dữ liệu hàng đợi</a>
                                    </li>
                                    <li>
                                        <a href="#">5.3. Các hoạt động cơ bản trên cấu trúc dữ liệu hàng đợi</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"> 6. Cấu trúc dữ liệu cây (Tree)</a>
                                <ul>
                                    <li>
                                        <a href="#">6.1. Cấu trúc dữu liệu cây là gì</a>
                                    </li>
                                    <li>
                                        <a href="#">6.2. Cây nhị phân</a>
                                        <ul>
                                            <li>
                                                <a href="#">6.2.1. Cây nhị phân là gì</a>
                                            </li>
                                            <li>
                                                <a href="#">6.2.2. Biểu diễn cây nhị phân</a>
                                            </li>
                                            <li>
                                                <a href="#">6.2.3. Hoạt động trên cây nhị phân</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">6.3. Cây AVL</a>
                                        <ul>
                                            <li>
                                                <a href="#">6.3.1. Cây AVL là gì</a>
                                            </li>
                                            <li>
                                                <a href="#">6.3.2. Biểu diễn cây AVL</a>
                                            </li>
                                            <li>
                                                <a href="#">6.3.3. Hoạt động trên cây AVL</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">6.4. Cây Heap</a>
                                        <ul>
                                            <li>
                                                <a href="#">6.4.1. Cây Heap là gì</a>
                                            </li>
                                            <li>
                                                <a href="#">6.4.2. Biểu diễn cây Heap</a>
                                            </li>
                                            <li>
                                                <a href="#">6.4.3. Hoạt động trên cây Heap</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">6.5. Cây khung</a>
                                        <ul>
                                            <li>
                                                <a href="#">6.5.1. Cây khung là gì</a>
                                            </li>
                                            <li>
                                                <a href="#">6.5.2. Biểu diễn cây khung</a>
                                            </li>
                                            <li>
                                                <a href="#">6.5.3. Hoạt động trên cây khung</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">7. Cấu trúc dữ liệu đồ thị (Graph)</a>
                                <ul>
                                    <li>
                                        <a href="#">7.1. Cấu trúc dữ liệu đồ thị là gì</a>
                                    </li>
                                    <li>
                                        <a href="#">7.2. Thao tác trên dữ liệu đồ thị</a>
                                    </li>
                                    <li>
                                        <a href="#">7.3. Tìm kiếm bằng đồ thị</a>
                                        <ul>
                                            <li>
                                                <a href="#">7.3.1. Tim kiếm theo chiều sâu</a>
                                            </li>
                                            <li>
                                                <a href="#">7.3.2. Tim kiếm theo chiều rộng</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">II - GIẢI THUẬT</a>
                        <ul>
                            <li>
                                <a href="#">1. Giải thuật là gì ?</a>
                            </li>
                            <li>
                                <a href="#">2. Độ phức tạp của giải thuật</a>
                                <ul>
                                    <li>
                                        <a href="#">2.1. Độ phức tạp là gì?</a>
                                    </li>
                                    <li>
                                        <a href="#">2.2. Quy tắc xác định</a>
                                    </li>
                                    <li>
                                        <a href="#">2.3. Các bước xác định</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">3. Giải thuật tìm kiếm (Searching)</a>
                            </li>
                            <li>
                                <a href="#">4. Giải thuật sắp xếp (Sorting)</a>
                            </li>
                            <li>
                                <a href="#">5. Giải thuật tham lam (Greedy)</a>
                            </li>
                            <li>
                                <a href="#">6. Giải thuật chia để trị (Divide and Conquer)</a>
                            </li>
                            <li>
                                <a href="#">7. Giải thuật quy hoạch động (Dynamic programing)</a>
                            </li>
                            <li>
                                <a href="#">8. Giải thuật quay lui (Backtracking)</a>
                            </li>
                            <li>
                                <a href="#">9. Giải thuật đệ quy (Recursion)</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">III - BÀI TẬP VÍ DỤ</a>
                        <ul>
                            <li>
                                <a href="#">1. Bài tập về mảng</a>
                            </li>
                            <li>
                                <a href="#">2. Bài tập về mảng động</a>
                            </li>
                            <li>
                                <a href="#">3. Bài tập về danh sách liên kết</a>
                            </li>
                            <li>
                                <a href="#">4. Bài tập về ngăn xếp</a>
                            </li>
                            <li>
                                <a href="#">5. Bài tập về hàng đợi</a>
                            </li>
                            <li>
                                <a href="#">6. Bài tập về cây nhị phân</a>
                            </li>
                            <li>
                                <a href="#">7. Bài tập về cây AVL</a>
                            </li>
                            <li>
                                <a href="#">8. Bài tập về cây Heap</a>
                            </li>
                            <li>
                                <a href="#">9. Bài tập về cây khung</a>
                            </li>
                            <li>
                                <a href="#">10. Bài tập tìm kiếm theo chiều sâu</a>
                            </li>
                            <li>
                                <a href="#">11. Bài tập tìm kiếm theo chiều rộng</a>
                            </li>
                            <li>
                                <a href="#">12. Bài tập xác định độ phức tạp của thuật toán</a>
                            </li>
                            <li>
                                <a href="#">13. Bài tập giải thuật tìm kiếm nội suy (Interpolation Search)</a>
                            </li>
                            <li>
                                <a href="#">14.	Bài tập giải thuật tìm kiếm tuyến tính (Linear Search)</a>
                            </li>
                            <li>
                                <a href="#">15.	Bài tập giải thuật tìm kiếm nhị phân (Binary Search)</a>
                            </li>
                            <li>
                                <a href="#">16.	Bài tập giải thuật tìm kiếm bằng bảng băm (Hash table)</a>
                            </li>
                            <li>
                                <a href="#">17.	Bài tập giải thuật sắp xếp nghịch thể (Interchange Sort)</a>
                            </li>
                            <li>
                                <a href="#">18.	Bài tập giải thuật sắp xếp nổi bọt (Bubble Sort)</a>
                            </li>
                            <li>
                                <a href="#">19.	Bài tập giải thuật sắp xếp chèn (Insertion Sort)</a>
                            </li>
                            <li>
                                <a href="#">20.	Bài tập giải thuật sắp xếp chọn (Selection Sort)</a>
                            </li>
                            <li>
                                <a href="#">21.	Bài tập giải thuật sắp xếp nhanh (Quick Sort)</a>
                            </li>
                            <li>
                                <a href="#">22.	Bài tập giải thuật sắp xếp vun đống (Heap Sort)</a>
                            </li>
                            <li>
                                <a href="#">23.	Bài tập của giải thuật tham lam (Greedy)</a>
                            </li>
                            <li>
                                <a href="#">24.	Bài tập của giải thuật chia để trị (Divide and Conquer )</a>
                            </li>
                            <li>
                                <a href="#">25.	Bài tập của giải thuật quy hoạch động (Dynamic Programing)</a>
                            </li>
                            <li>
                                <a href="#">26.	Bài tập của giải thuật quay lui (Backtracking)</a>
                            </li>
                            <li>
                                <a href="#">27.	Bài tập của giải thuật đệ quy (Recursion)</a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div style="border: 2px solid black; height: 624px; background-color: #eeeeee; overflow-y: scroll; overflow-x:hidden; font-size: 16px" class=" flex-fill ">
            @RenderBody()

        </div>

        <div class="collapse flex-fill" id="related" style="border: 2px solid black;  float: left; width: 30%; background-color:#fafafa; overflow:visible !important; ">
            <div style="overflow-y: scroll; overflow-x: hidden; max-height: 620px; height: 620px; width:100%; ">


                <ul>
                    @foreach (var i in Model)
                    {
                        <li> - <a href="@i.Id_Lesson">@i.Name_Lesson</a></li>
                    }
                </ul>



            </div>
        </div>



    </div>

</div>