@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center" style="color: #000000">
    <h1 class="display-4 text-light">Welcome</h1>
    <p class="text-light">Learn about <a href="https://docs.microsoft.com/aspnet/core" style="color: #add8e6">building Web apps with ASP.NET Core</a>.</p>
</div>
