
@{
    ViewData["Title"] = "Content";
    Layout = "~/Views/DS_and_A/Menu.cshtml";
}
<div style="height:100%; width: 100%; position: relative">
    <h2 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"> WELCOME TO MY WEBSITE</h2>
</div>
