
@{
    ViewData["Title"] = "I_4";
    Layout = "~/Views/DS_and_A/Menu.cshtml";
}
<style>
    ul {
        list-style-type: none;
    }

    .zoom {
        /*padding: 50px;*/
        background-color: green;
        transition: transform .2s; /* Animation */
        margin: 0 auto;
    }

        .zoom:hover {
            transform: scale(1.3); /* (130% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }

    img {
        display: block;
        margin: 0 auto;
    }
</style>
<h1>Cấu trúc dữ liệu ngăn xếp</h1>
<div id="I_4_1" class="container">
<h3>Cấu trúc dữ liệu ngăn xếp là gì</h3>
    <p>Ngăn xếp là một dạng đặc biệt của danh sách mà việc bổ sung hay loiaj bỏ một phần tử đều được thực hiện ở 1 đầu của danh sách đưuocj gọi là đỉnh. Nói cách khác, ngăn xếp là 1 cấu trúc dữ liệu có 2 thao tác cơ bản: bổ sung (push) và loại bỏ phần tử (pop), trong đó việc loại bỏ sẽ tiến hành loại phần tử mới nhất được đưa vào danh sách. Chính vì tính chất này mà ngăn xếp còn được gọi là kiểu dữ liệu có nguyên tắc LIFO (Last in first out - Vào sau ra trước).</p>
    <p>Các ví dụ về lưu trữ kiểu LIFO như của ngăn xếp là: Một chồng sách trên mặt bàn, một chồng đĩa trong hộp,... Khi thêm một cuốn sách vào chồng sách, cuốn sách này sẽ nằm ở trên đỉnh cảu chồng sách. Khi lấy sách ra khỏi chồng sách, cuốn nằm trên cùng sẽ được lấy ra đầu tiên, tức là cuốn mới nhất được thêm vào sẽ là cuốn được lấy ra trước tiên. Tương tự như vậy với ví dụ của chồng đĩa trong hộp.</p>
</div>
<hr />
<div class="container" id="I_4_2">
<h3>Biểu diễn cấu trúc dẽ liệu ngăn xếp</h3>
    <p>Ví dụ cơ bản cho cấu trúc ngăn xếp ta hãy xét một ngăn xếp ban đầu ở trọng thái rỗng như sau:</p>
    <img src="~/Image/stack.jpg" class="zoom" style="text-align:center" />
    <br />
    <p>Khi thực hiện bổ sung phần tử A, ngăn xếp sẽ có dạng:</p>
    <img src="~/Image/stack_2.jpg" class="zoom" style="text-align:center"/>
    <br />
    <p>Tiếp theo là thêm lần lượt B và C vào:</p>
    <img src="~/Image/stack_3.jpg" class="zoom" style="text-align:center"/>
    <br />
    <p>Loại bỏ phần tử mới nhất được đưa vào ra khỏi ngăn xếp, ở đây ví dụ là C:</p>
    <img src="~/Image/stack_4.jpg" class="zoom" style="text-align:center"/>
    <br />
    <p>Thử đưa phần tử vào ngăn xếp, phần tử mới sẽ được đưa ngay trên phần tử B: </p>
    <img src="~/Image/stack_5.jpg"  class="zoom" style="text-align:center" />
    <br />
    <hr />
    <p>Để hiểu thêm về các hoạt động thêm và đưa phần tử ra ngoài, bạn có thể xem "<a href="#I_4_3"><b>Hoạt động cơ bản trên cấu trúc dữ liệu ngăn xếp</b></a>" sẽ được nhắc tới ở phần kế.</p>
    <p>Do tính chất của ngăn xếp, ngăn xếp có thể được cài đặt bởi 2 kiểu cấu trúc dữ liệu khác:</p>
    <ul>
        <li><a href="#NganXep_Bang_Mang"><b>Cài đặt ngăn xếp bảng mảng</b></a></li>
        <li><a href="#NganXep_Bang_DSLK"><b>Cài đặt ngăn xếp bằng danh sách liên kết</b></a></li>
    </ul>
    <hr />
    <div id="NganXep_Bang_Mang">
        <b>a. Cài đặt ngăn xếp bằng mảng</b>
        <p>Để cài đặt ngăn xếp bằng bảng, ta sử dụng một mảng 1 chiều s để biểu diễn ngăn xếp. Thiết lập phần tử đầu tiên của mảng là s[0] làm đáy ngăn xếp. Các phần tử tiếp theo được đưa vào ngăn xếp sẽ lần lượt được lưu tại các vị trí s[1], s[2],... Nếu hiện tại ngăn xếp có n phần tử thì s[n-1] sẽ là phần tử mới nhất được đưa vào ngăn xếp. Để lưu trữ đỉnh hiện tại của ngăn xếp, ta sửu dụng 1 con trỏ top. Chẳng hạn nếu ngăn xếp có n phần tử thì top sẽ có giá trị là n-1. Còn khi ngăn xếp rỗng thì ta quy ước top sẽ có giá trị là -1 </p>
        <img src="~/Image/stack_array.jpg"  class="zoom" style="text-align:center"/>
        <br />
        <p>Nếu có 1 phần tử mới được đưa vào ngăn xếp thì nó sẽ được lưu tại vụ trí kế tiếp trong mảng và giá trị của biến top tăng lên 1. Khi lấy 1 phần tử ra khỏi ngăn xếp, phần tử của mảng tại vị trí top sẽ được lấy ra và biến top giảm đi 1</p>
        <p>Tuy nhiên vẫn có 2 vấn đề xày ra khi thực hiện cấc thao tác trên trong ngăn xếp.</p>
        <ul>
            <li>
                <p class="bg-warning">Khi ngăn xếp đã đầy, tức là khi biến top đạt tới phần tử cuối cùng của mảng thì không thể tiếp tục thêm phần tử mới vào mảng</p>
            </li>
            <li>
                <p class="bg-warning">Khi ngăn xếp rỗng, tức là chưa có phần tử nào, thì ta không thể lấy được phần tử ra từ ngăn xếp.</p>
            </li>
        </ul>
        <p>Ví dụ thao tác khai báo mảng cho 1 ngăn xếp chứa số nguyên với tối đa 100 phần tử như sau:</p>
        <div class="card" style="background-color: #F1F1F1">
<pre style="padding: 1em; margin: .5em 0; overflow: auto;" class="card-body">
    <code>#define MAX 100
    typedef struct {
        int top;
        int nut[MAX];
    } stack;
//---------------------------------------------//        
    //Sau đó khởi tạo ngăn xếp ở trạng thái rỗng như sau:
    void StackInitialize(stack *s){
        s -> top = -1;
        return;
    }</code> </pre>
        </div><br />
    </div>
    <hr />
    <div id="NganXep_Bang_DSLK">
        <b>b. Cài đặt ngăn xếp bằng danh sách liên kết</b>
    </div>
</div>
<hr />
<div class="container" id="I_4_3">
    <h3>Các hoạt động cơ bản trên cấu trúc dữ liệu ngăn xếp</h3>

    <p>Do có 2 cách cài đặt ngăn xếp nên từ 2 cách đó ta cũng có 2 cách để thể hiện các hoạt động của ngăn xếp: </p>
    <ul>
        <li><a href="#NganXep_HD_Mang"><b>Các hoạt động trên cấu trúc dữ liệu ngăn xếp dựa theo cài đặt bằng mảng</b></a></li>
        <li><a href="#NganXep_HD_DSLK"><b>Các hoạt động trên cấu trúc dữ liệu ngăn xếp dựa theo cài đặt bằng danh sách liên kết</b></a></li>
    </ul>
    <hr />
    <div id="NganXep_HD_Mang">
        <p><b>Các hoạt động trên cấu trúc dữ liệu ngăn xếp dựa theo cài đặt bằng mảng</b></p>
    </div>
    <hr />
    <div id="NganXep_HD_DSLK">
        <p><b>Các hoạt động trên cấu trúc dữ liệu ngăn xếp dựa theo cài đặt bằng danh sách liên kết</b></p>
    </div>
</div>

