
@{
    ViewData["Title"] = "I_5";
    Layout = "~/Views/DS_and_A/Menu.cshtml";
}
<style>
    .zoom {
        /*padding: 50px;*/
        background-color: green;
        transition: transform .2s; /* Animation */
        margin: 0 auto;
    }

        .zoom:hover {
            transform: scale(1.3); /* (130% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }

    img {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: 0 auto;
    }
</style>
<h1>CẤU TRÚC DỮ LIỆU HÀNG ĐỢI</h1>
<div id="I_5_1">
    <h3>Khái niệm</h3>
    <p>Hàng đợi là một cấu trúc dữ liệu gần giống với <a href="I_4">ngăn xếp</a>, nhưng khác với <a href="I_4">ngăn xếp</a> ở nguyên tắc chọn phần tử cần lấy ra khỏi tập phần tử. Trái với <a href="I_4">ngăn xếp</a>, phần tử được lấy ra khỏi hàng đợi không phải là phần tử mới nhất được đưa vào mà là phần tử đã được lưu trong hàng đợi lâu nhất</p>  
</div>
<hr />
<div id="I_5_2">
    <h3>Biểu diễn cấu trúc dữ liệu hàng đợi</h3>
</div>
<hr />
<div id="I_5_3">
    <h3>Các hoạt động cơ bản trên cấu trúc dữ liệu hàng đợi</h3>
</div>
