
@{
    ViewData["Title"] = "III_6";
    Layout = "~/Views/DS_and_A/Menu.cshtml";
}


<div id="accordion">
    <h1>BÀI TẬP VỀ CÂY NHỊ PHÂN</h1>
    <p class="alert-warning">BẠN CÓ THỂ NHẤN VÀO ĐỂ XEM BÀI GIẢI</p>
    <h3>Bài tập phổ biến</h3>
    <div id="accordion1">
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#Bai1">
                    Bài 1
                </a>
            </div>
            <div id="Bai1" class="collapse" data-parent="#accordion">
<pre style="overflow: auto; font-family:Consolas" class="card-body">
    <code>
        https://tailieu.pro/cay-nhi-phan-trong-c/#2_Cai_dat_cay_nhi_phan_trong_CC
    </code> 
</pre>
            </div>
        </div>
    </div>
    <hr />
</div>

