@model IEnumerable<KnowledgeManage.Models.Lesson>
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";

    
}


<style>
    p {
        text-align: justify;
    }
    

    .container {
        display: inline-block;
        cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 2px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 3px);
        transform: rotate(-45deg) translate(-9px, 3px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -4px);
        transform: rotate(45deg) translate(-8px, -4px);
    }

    ul {
        list-style-type: none;
    }


    .caret {
        cursor: pointer;
        user-select: none;
    }

        .caret::before {
            content: "\25B6";
            color: black;
            display: inline-block;
            margin-right: 6px;
        }

    .caret-down::before {
        transform: rotate(90deg);
    }

    .nested {
        display: none;
    }

    .active {
        display: block;
    }

    .menuOff {
        display: none;
    }

    .menuOn {
        display: normal;
    } 
</style>


<div class="w-100">
    <div class="d-flex justify-content-between" style="background-color: #F5F5F5">
        <a class="p-2" href="#" id="navbardrop" data-toggle="collapse" data-target="#menu" onclick="myFunction(this)" style="width: 15%">
            <div class="flex-grow-1">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </a>
        <form class="form-inline flex-lg-grow-1" asp-action="SearchLesson">
            <input name="searchString" class="form-control" placeholder="Nhập chủ đề" style="width:60%" />
            <button class="btn " type="submit" style="background-color: #add8e6">Search</button>
        </form>
        <a class="p-2 nav-link " href="#" style="float:left; color: #000000; text-align:center; background-color: #F5F5F5"><b>Tìm kiếm theo các đề mục khác</b></a>
        <a class="p-2 nav-link " data-toggle="collapse" data-target="#related" href="#" style="float:left; color: #000000; text-align:center; background-color: #F5F5F5"><b>Hiển thị kiến thức liên quan</b></a>
    </div>

    <div style="float:left; width: 100%" class="body-content d-flex">
        <div class="collapse flex-fill bg-light border" id="menu" style="float: left;overflow:visible !important;">
            <div style="overflow-y: scroll; overflow-x: hidden; height:80vh ">
                <ul>
                    <li>
                        <a href="I">I - CẤU TRÚC DỮ LIỆU</a>
                        <ul>
                            <li>
                                <a href="I#I_1">1. Khái niệm cấu trúc dữ liệu</a>
                            </li>
                            <li>
                                <a href="I_2">2. Cấu trúc dữ liệu mảng (Array)</a>
                                <span class="caret"></span>
                                <ul class="nested">
                                    <li>
                                        <a href="I_2#I_2_1">2.1. Khái niệm cấu trúc dữ liệu mảng</a>
                                    </li>
                                    <li>
                                        <a href="I_2#I_2_2">2.2. Cấu trúc dữ liệu mảng động</a>
                                        <span class="caret"></span>
                                        <ul class="nested">
                                            <li>
                                                <a href="I_2#I_2_2_1">2.2.1. Khái niệm cấu trúc dữ liệu mảng động</a>
                                            </li>
                                            <li>
                                                <a href="I_2#I_2_2_2">2.2.2. Biểu diễn cấu trúc dữ liệu mảng động</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="I_2#I_2_3">2.3. Biểu diễn cấu trúc dữ liệu mảng</a>
                                    </li>
                                    <li>
                                        <a href="I_2#I_2_4">2.4. Phép toán thực hiện trên mảng</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="I_3">3. Cấu trúc dữ liệu danh sách liên kết (Linked list)</a>
                                <span class="caret"></span>
                                <ul class="nested">
                                    <li>
                                        <a href="I_3#I_3_1">3.1. Khái niệm cấu trúc dữ liệu danh sách liên kết</a>
                                    </li>
                                    <li>
                                        <a href="I_3#I_3_2">3.2. Danh sách liên kết đơn</a>
                                        <span class="caret"></span>
                                        <ul class="nested">
                                            <li>
                                                <a href="I_3#I_3_2_1">3.2.1. Biểu diễn danh sách liên kết đơn</a>
                                            </li>
                                            <li>
                                                <a href="I_3#I_3_2_2">3.2.2. Các hoạt động trên danh sách liên kết đơn</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="I_3#I_3_3">3.3. Danh sách liên kết đôi</a>
                                        <span class="caret"></span>
                                        <ul class="nested">
                                            <li>
                                                <a href="I_3#I_3_3_1">3.3.1. Biểu diễn danh sách liên kết đôi</a>
                                            </li>
                                            <li>
                                                <a href="I_3#I_3_3_2">3.3.2. Các hoạt động trên danh sách liên kết đôi</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="I_3#I_3_4">3.4. Danh sách liên kết vòng</a>
                                        <span class="caret"></span>
                                        <ul class="nested">
                                            <li>
                                                <a href="I_3#I_3_4_1">3.4.1. Biểu diễn danh sách liên kết vòng</a>
                                            </li>
                                            <li>
                                                <a href="I_3#I_3_4_2">3.4.2. Các hoạt động trên danh sách liên kết vòng</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="I_4"> 4. Cấu trúc dữ liệu ngăn xếp (Stack)</a>
                                <span class="caret"></span>
                                <ul class="nested">
                                    <li>
                                        <a href="I_4#I_4_1">4.1. Khái niệm cấu trúc dữ liệu ngăn xếp</a>
                                    </li>
                                    <li>
                                        <a href="I_4#I_4_2">4.2. Biểu diễn cấu trúc dữ liệu ngăn xếp</a>
                                    </li>
                                    <li>
                                        <a href="I_4#I_4_3">4.3. Các hoạt động cơ bản trên cấu trúc dữ liệu ngăn xếp</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="I_5">5. Cấu trúc dữ liệu hàng đợi (Queue)</a>
                                <span class="caret"></span>
                                <ul class="nested">
                                    <li>
                                        <a href="I_5#I_5_1">5.1. Khái niệm cấu trúc dữ liệu hàng đợi</a>
                                    </li>
                                    <li>
                                        <a href="I_5#I_5_2">5.2. Biểu diễn cấu trúc dữ liệu hàng đợi</a>
                                    </li>
                                    <li>
                                        <a href="I_5#I_5_3">5.3. Các hoạt động cơ bản trên cấu trúc dữ liệu hàng đợi</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="I_6"> 6. Cấu trúc dữ liệu cây (Tree)</a>
                                <span class="caret"></span>
                                <ul class="nested">
                                    <li>
                                        <a href="I_6#I_6_1">6.1. Khái niệm cấu trúc dữ liệu cây </a>
                                    </li>
                                    <li>
                                        <a href="I_6_2">6.2. Cây nhị phân</a>
                                        <span class="caret"></span>
                                        <ul class="nested">
                                            <li>
                                                <a href="I_6_2#I_6_2_1">6.2.1. Khái niệm cây nhị phân </a>
                                            </li>
                                            <li>
                                                <a href="I_6_2#I_6_2_2">6.2.2. Biểu diễn cây nhị phân</a>
                                            </li>
                                            <li>
                                                <a href="I_6_2#I_6_2_3">6.2.3. Hoạt động trên cây nhị phân</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="I_6_3">6.3. Cây AVL</a>
                                        <span class="caret"></span>
                                        <ul class="nested">
                                            <li>
                                                <a href="I_6_3#I_6_3_1">6.3.1. Khái niệm cây AVL</a>
                                            </li>
                                            <li>
                                                <a href="I_6_3#I_6_3_2">6.3.2. Biểu diễn cây AVL</a>
                                            </li>
                                            <li>
                                                <a href="I_6_3#I_6_3_3">6.3.3. Hoạt động trên cây AVL</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="I_6_4">6.4. Cây Heap</a>
                                        <span class="caret"></span>
                                        <ul class="nested">
                                            <li>
                                                <a href="I_6_4#I_6_4_1">6.4.1. Khái niệm cây Heap</a>
                                            </li>
                                            <li>
                                                <a href="I_6_4#I_6_4_2">6.4.2. Biểu diễn cây Heap</a>
                                            </li>
                                            <li>
                                                <a href="I_6_4#I_6_4_3">6.4.3. Hoạt động trên cây Heap</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="I_6_5">6.5. Cây khung</a>
                                        <span class="caret"></span>
                                        <ul class="nested">
                                            <li>
                                                <a href="I_6_5#I_6_5_1">6.5.1. Khái niệm cây khung</a>
                                            </li>
                                            <li>
                                                <a href="I_6_5#I_6_5_2">6.5.2. Biểu diễn cây khung</a>
                                            </li>
                                            <li>
                                                <a href="I_6_5#I_6_5_3">6.5.3. Hoạt động trên cây khung</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="I_7">7. Cấu trúc dữ liệu đồ thị (Graph)</a>
                                <span class="caret"></span>
                                <ul class="nested">
                                    <li>
                                        <a href="I_7#I_7_1">7.1. Khái niệm cấu trúc dữ liệu đồ thị</a>
                                    </li>
                                    <li>
                                        <a href="I_7#I_7_2">7.2. Thao tác trên dữ liệu đồ thị</a>
                                    </li>
                                    <li>
                                        <a href="I_7#I_7_3">7.3. Tìm kiếm bằng đồ thị</a>
                                        <span class="caret"></span>
                                        <ul class="nested">
                                            <li>
                                                <a href="I_7_3_1">7.3.1. Tìm kiếm theo chiều sâu</a>
                                            </li>
                                            <li>
                                                <a href="I_7_3_2">7.3.2. Tìm kiếm theo chiều rộng</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="III">III - BÀI TẬP VÍ DỤ</a>
                        <span class="caret"></span>
                        <ul class="nested">
                            <li>
                                <a href="III_1">1. Bài tập về mảng</a>
                            </li>
                            <li>
                                <a href="III_2">2. Bài tập về mảng động</a>
                            </li>
                            <li>
                                <a href="III_3">3. Bài tập về danh sách liên kết</a>
                            </li>
                            <li>
                                <a href="III_4">4. Bài tập về ngăn xếp</a>
                            </li>
                            <li>
                                <a href="III_5">5. Bài tập về hàng đợi</a>
                            </li>
                            <li>
                                <a href="III_6">6. Bài tập về cây nhị phân</a>
                            </li>
                            <li>
                                <a href="III_7">7. Bài tập về cây AVL</a>
                            </li>
                            <li>
                                <a href="III_8">8. Bài tập về cây Heap</a>
                            </li>
                            <li>
                                <a href="III_9">9. Bài tập về cây khung</a>
                            </li>
                            <li>
                                <a href="III_10">10. Bài tập tìm kiếm theo chiều sâu</a>
                            </li>
                            <li>
                                <a href="III_11">11. Bài tập tìm kiếm theo chiều rộng</a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div style="height: 80vh; background-color: #F5F5F5; overflow-y: auto; overflow-x:hidden; font-size: 16px; padding-left: 15%; padding-right: 15%" class=" flex-fill">
            @RenderBody()
        </div>

        <div class="collapse flex-fill bg-light border" id="related" style="float: left; width: 50%; overflow:visible !important; ">
            <div style="overflow-y: scroll; overflow-x: hidden; ">


                <ul>
                    @foreach (var i in Model)
                    {
                        <li><a href="@i.Id_Lesson">@i.Name_Lesson</a><br /></li>

                    }
                </ul>



            </div>
        </div>
    </div>

</div>

<script>
    function myFunction(x) {
        x.classList.toggle("change");
    }

    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function () {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    }
</script>
