@model IEnumerable<KnowledgeManage.Models.Lesson>
@{
    ViewData["Title"] = "Result_test";
    Layout = "~/Views/DS_and_A/Menu.cshtml";
}


<div class="">
    <h1>Kết quả tìm kiếm theo đề mục</h1>
    @if (ViewData["ss"].ToString() == "404_null")
    {
        <br />
        <br />
        <br />
        <p style="text-align:center">
            <b>TRƯỜNG TÌM KIẾM RỖNG !!!! VUI LÒNG NHẬP VÀO TRƯỜNG ĐỂ TÌM KIẾM</b>
        </p>
     } 
    else{
    
        @if (Model.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <p>Tên bài học</p>
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name_Lesson)
                            </td>
                            <td>
                                <a class="btn btn-info col-12" href="@item.Id_Lesson">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <br />
            <br />
            <br />
            <p style="text-align:center">
                <b>KHÔNG THẤY KẾT QUẢ TÌM KIẾM CHO "@ViewData["ss"]"!!!!</b>
            </p>
        }
    }
</div>