@model IEnumerable<KnowledgeManage.Models.Lesson>

@{
    ViewData["Title"] = "I_7";
    Layout = "~/Views/DS_and_A/Menu.cshtml";
}

<h1>Tra cứu theo từng trường khác nhau</h1>

<hr />
<div class="col">
    <p><b>Tìm kiếm khái niệm của: </b></p>
    <div class="col-md-10">
        <form class="form-inline flex-lg-grow-1" asp-action="SearchConcept">
            <input name="searchString" class="form-control" placeholder="Nhập tên kiến thức" style="width:60%" />
            <button class="btn " type="submit" style="background-color: #add8e6">Tìm kiếm </button>
        </form>
    </div>
    <div class="col-md-10">
        <br />
        <hr />
        <br />
    </div>
    <div class="col-md-10">
        <p><b>Tìm kiếm cách biểu diễn / khởi tạo của: </b></p>
        <form class="form-inline flex-lg-grow-1" asp-action="SearchConstruct">
            <input name="searchString" class="form-control" placeholder="Nhập tên kiến thức" style="width:60%" />
            <button class="btn " type="submit" style="background-color: #add8e6">Tìm kiếm </button>
        </form>
    </div>
    <div class="col-md-10">
        <br />
        <hr />
        <br />
    </div>
    <div class="col-md-10">
        <p><b>Tìm kiếm hoạt động/ toán tử của:</b></p>
        <form class="form-inline flex-lg-grow-1" asp-action="SearchOperator">
            <input name="searchString" class="form-control" placeholder="Nhập tên kiến thức" style="width:60%" />
            <button class="btn " type="submit" style="background-color: #add8e6">Tìm kiếm </button>
        </form>
    </div>
    <div class="col-md-10">
        <br />
        <hr />
        <br />
    </div>
    <div class="col-md-10">
        <p><b>Tìm kiếm bài tập của: </b></p>
        <form class="form-inline flex-lg-grow-1" asp-action="SearchExercise">
            <input name="searchString" class="form-control" placeholder="Nhập tên kiến thức" style="width:60%" />
            <button class="btn " type="submit" style="background-color: #add8e6">Tìm kiếm </button>
        </form>
    </div>
</div>