
@{
    ViewData["Title"] = "Cấu trúc dữ liệu là gì ?";
    Layout = "~/Views/Main/Menu.cshtml";
}


<div class="container">
    <h2>Tổng quan về cấu trúc dữ liệu và giải thuật</h2>

    <p>
        Trong chương này, bạn có thể tìm hiểu những vấn đề sau:
    </p>
    <ul>
        <li><a href="I_1"><b>Cấu trúc dữ liệu là gì</b></a></li>
        <li><a href="I_2"><b>Giải thuật là gì</b></a></li>
        <li><a href="I_3"><b>Phân tích tiệm cận trong cấu trúc dữ liệu và giải thuật</b></a></li>
    </ul>

</div>