
@{
    ViewData["Title"] = "I_2";
    Layout = "~/Views/Main/Menu.cshtml";
}


<div class="container">
    <h2>Giải thuật là gì ?</h2>
    <blockquote>
        <p>Giải thuật (hay còn gọi là thuật toán - tiếng Anh là <b>Algorithms</b>) là một tập hợp hữu hạn các chỉ thị để được thực thi theo một thứ tự nào đó để thu được kết quả mong muốn. Nói chung thì giải thuật là độc lập với các ngôn ngữ lập trình, tức là một giải thuật có thể được triển khai trong nhiều ngôn ngữ lập trình khác nhau.</p>
    </blockquote>
    <p>Xuất phát từ quan điểm của cấu trúc dữ liệu, dưới đây là một số giải thuật quan trọng:</p>
    <ul>
        <li><p><a href="III_1_1"><b>Giải thuật Tìm kiếm</b></a>: Giải thuật để tìm kiếm một phần tử trong một cấu trúc dữ liệu.</p></li>
        <li><p><a href="III_1_2"><b>Giải thuật Xóa</b></a>: Giải thuật để xóa một phần tử đang tồn tại từ một cấu trúc dữ liệu.</p></li>
        <li><p><a href="III_1_3"><b>Giải thuật Chèn</b></a>: Giải thuật để chèn phần từ vào trong một cấu trúc dữ liệu.</p></li>
        <li><p><a href="III_1_4"><b>Giải thuật Sắp xếp</b></a>: Giải thuật để sắp xếp các phần tử theo thứ tự nào đó.</p></li>
    </ul>
    <hr />

    <h2>Đặc điểm của giải thuật</h2>
    <p>Không phải tất cả các thủ tục có thể được gọi là một giải thuật. Một giải thuật nên có các đặc điểm sau:</p>
    <ul>
        <li><p><b>Tính xác định</b>: Giải thuật nên rõ ràng và không mơ hồ. Mỗi một giai đoạn (hay mỗi bước) nên rõ ràng và chỉ mang một mục đích nhất định.</p></li>
        <li><p><b>Dữ liệu đầu vào xác định</b>: Một giải thuật nên có 0 hoặc nhiều hơn dữ liệu đầu vào đã xác định.</p></li>
        <li><p><b>Kết quả đầu ra</b>: Một giải thuật nên có một hoặc nhiều dữ liệu đầu ra đã xác định, và nên kết nối với kiểu kết quả bạn mong muốn.</p></li>
        <li><p><b>Tính dừng</b>: Các giải thuật phải kết thúc sau một số hữu hạn các bước.</p></li>
        <li><p><b>Tính hiệu quả</b>: Một giải thuật nên là có thể thi hành được với các nguồn có sẵn, tức là có khả năng giải quyết hiệu quả vấn đề trong điều kiện thời gian và tài nguyên cho phép.</p></li>
        <li><p><b>Tính phổ biến</b>: Một giải thuật có tính phổ biến nếu giải thuật này có thể giải quyết được một lớp các vấn đề tương tự.  </p></li>
        <li><p><b>Độc lập</b>: Một giải thuật nên có các chỉ thị độc lập với bất kỳ phần code lập trình nào.</p></li>
    </ul>
    <hr />
    <p>
        Bạn có thể tham khảo các mục sau:
    </p>
    <ul>
        <li><a href="I_1"><b>Cấu trúc dữ liệu là gì</b></a></li>
        <li><a href="II"><b>Độ phức tạp của thuật toán</b></a></li>
        <li><a href="I_3"><b>Phân tích tiệm cận trong cấu trúc dữ liệu và giải thuật</b></a></li>
    </ul>
</div>