
@{
    ViewData["Title"] = "I_3_2";
    Layout = "~/Views/Main/Menu.cshtml";
}

<div class="container">
    <h2>Big Oh Notation, &Omicron; trong Cấu trúc dữ liệu và giải thuật</h2>
    <p>&Omicron;(n) là một cách để biểu diễn tiệm cận trên của thời gian chạy của một thuật toán. Nó ước lượng độ phức tạp thời gian trường hợp xấu nhất hay chính là lượng thời gian dài nhất cần thiết bởi một giải thuật (thực thi từ bắt đầu cho đến khi kết thúc). Đồ thị biểu diễn như sau:</p>
    <img src="~/Content/Image/big_o_notation.jpg" alt="Big O Notation" style="display: block; margin-left: auto; margin-right: auto;" />
    <p>Ví dụ, gọi f(n) và g(n) là các hàm không giảm định nghĩa trên các số nguyên dương (tất cả các hàm thời gian đều thỏa mãn các điều kiện này):</p>
    <div class="card" style="background-color: #cccccc">
<pre class="prettyprint notranslate card-body">&Omicron;(<i>f</i>(n)) = { <i>g</i>(n) : nếu tồn tại c &gt; 0 và n<sub>0</sub> sao cho <i>g</i>(n) &le; c.<i>f</i>(n) với mọi n &gt; n<sub>0</sub>. }</pre>
    </div>
    <hr />
    <p>
        Bạn có thể tham khảo các mục sau:
    </p>
    <ul>
        <li><a href="I_3"><b>Phân tích tiệm cận trong cấu trúc dữ liệu và giải thuật</b></a></li>
        <li><a href="I_3_3"><b>Omega Notation, &Omega; trong Cấu trúc dữ liệu và giải thuật</b></a></li>
        <li><a href="I_3_4"><b>Theta Notation, &theta; trong Cấu trúc dữ liệu và giải thuật</b></a></li>
        <li><a href="I_3_5"><b>Ví dụ độ phức tạp trong cấu trúc dữ liệu và giải thuật</b></a></li>
        <li><a href="II_5"><b>Ví dụ tính độ phức tạp của thuật toán</b></a></li>
        <li><a href="II"><b>Độ phức tạp của thuật toán</b></a></li>
    </ul>
</div>
