
@{
    ViewData["Title"] = "II";
    Layout = "~/Views/Main/Menu.cshtml";
}

<div class="container">
    <h2>Độ phức tạp của thuật toán</h2>

    <p>
        Trong chương này, bạn có thể tìm hiểu những vấn đề sau:
    </p>
    <ul>
        <li><a href="II_1"><b>Độ phức tạp của thuật toán là gì</b></a></li>
        <li><a href="II_2"><b>Nhân tố thời gian (Độ phức tạp thời gian)</b></a></li>
        <li><a href="II_3"><b>Nhân tố bộ nhớ (Độ phức tạp bộ nhớ)</b></a></li>
        <li><a href="II_4"><b>Các quy tắc để xác định độ phức tạp của giải thuật</b></a></li>
        <li><a href="II_5"><b>Ví dụ tính độ phức tạp của thuật toán</b></a></li>
    </ul>

    <hr />
    <p>
        Ngoài ra, bạn có thể tham khảo các mục sau:
    </p>
    <ul>
        <li><a href="I_2"><b>Giải thuật là gì</b></a></li>
        <li><a href="I_3"><b>Phân tích tiệm cận trong cấu trúc dữ liệu và giải thuật</b></a></li>
    </ul>
</div>