
@{
    ViewData["Title"] = "Quy tắc tổng quát";
    Layout = "~/Views/Main/Menu.cshtml";
}

<div class="container">
    <h2>Quy tắc tổng quát</h2>


    <h4>Sau đây là một số quy tắc chung khi phân tích một chương trình: </h4>
    <ul style="list-style-type: none; font-size: 15px">
        <li>
            - Thời gian thực hiện của mỗi lệnh gán, READ, WRITE là O(1).
        </li>
        <li>
            - Thời gian thực hiện của một chuỗi tuần tự các lệnh được xác định bằng qui tắc cộng. Như vậy thời gian này là thời gian thi hành một lệnh nào đó lâu nhất trong chuỗi lệnh.
        </li>
        <li>
            - Thời gian thực hiện cấu trúc IF là thời gian lớn nhất thực hiện lệnh sau THEN hoặc sau ELSE và thời gian kiểm tra điều kiện. Thường thời gian kiểm tra điều kiện là O(1).
        </li>
        <li>
            - Thời gian thực hiện vòng lặp là tổng (trên tất cả các lần lặp) thời gian thực hiện thân vòng lặp. Nếu thời gian thực hiện thân vòng lặp không đổi thì thời gian thực hiện vòng lặp là tích của số lần lặp với thời gian thực hiện thân vòng lặp.
        </li>
    </ul>

    <hr />
    <p>
        Sau đây là một số quy tắc liên quan
    </p>
    <ul>
        <li><a href="II_4_2"><b>Quy tắc cộng - lấy max</b></a></li>
        <li><a href="II_4_3"><b>Quy tắc nhân</b></a></li>
        <li><a href="II_4_3"><b>Quy tắc nhân</b></a></li>
    </ul>
    <hr />
    <p>
        Bạn có thể tham khảo các mục sau:
    </p>
    <ul>
        <li><a href="II_5"><b>Ví dụ tính độ phức tạp của thuật toán</b></a></li>
        <li><a href="II"><b>Độ phức tạp của thuật toán</b></a></li>
        <li><a href="I_3_2"><b>Big Oh Notation, &Omicron; trong Cấu trúc dữ liệu và giải thuật</b></a></li>
        <li><a href="I_3_5"><b>Ví dụ độ phức tạp trong cấu trúc dữ liệu và giải thuật</b></a></li>
        <li><a href="II_4"><b>Các quy tắc để xác định độ phức tạp của giải thuật</b></a></li>

    </ul>
</div>
