
@{
    ViewData["Title"] = "I_3_4";
    Layout = "~/Views/Main/Menu.cshtml";
}

<div class="container">
    <h3>Theta Notation, &theta; trong Cấu trúc dữ liệu và giải thuật</h3>
    <p>The &theta;(n) là cách để biểu diễn cả tiệm cận trên và tiệm cận dưới của thời gian chạy của một giải thuật. Bạn nhìn vào đồ thì sau:</p>
    <img src="~/Content/Image/theta_notation.jpg" alt="Theta Notation" style="display: block; margin-left: auto; margin-right: auto;" />
    <div class="card" style="background-color: #cccccc">
<pre class="prettyprint notranslate card-body">
&theta;(<i>f</i>(n)) = { <i>g</i>(n) nếu và chỉ nếu <i>g</i>(n) =  &Omicron;(<i>f</i>(n)) và <i>g</i>(n) = &Omega;(<i>f</i>(n)) với mọi n &gt; n<sub>0</sub>. }
</pre>
        </div>

        <hr />
        <p>
            Bạn có thể tham khảo các mục sau:
        </p>
        <ul>
            <li><a href="I_3"><b>Phân tích tiệm cận trong cấu trúc dữ liệu và giải thuật</b></a></li>
            <li><a href="I_3_2"><b>Big Oh Notation, &Omicron; trong Cấu trúc dữ liệu và giải thuật</b></a></li>
            <li><a href="I_3_3"><b>Omega Notation, &Omega; trong Cấu trúc dữ liệu và giải thuật</b></a></li>
            <li><a href="I_3_5"><b>Ví dụ độ phức tạp trong cấu trúc dữ liệu và giải thuật</b></a></li>
            <li><a href="II"><b>Độ phức tạp của thuật toán</b></a></li>
        </ul>
    </div>
