
@{
    ViewData["Title"] = "I_3_3";
    Layout = "~/Views/Main/Menu.cshtml";
}

<div class="container">
    <h2>Omega Notation, &Omega; trong Cấu trúc dữ liệu và giải thuật</h2>
    <p>The &Omega;(n) là một cách để biểu diễn tiệm cận dưới của thời gian chạy của một giải thuật. Nó ước lượng độ phức tạp thời gian trường hợp tốt nhất hay chính là lượng thời gian ngắn nhất cần thiết bởi một giải thuật. Đồ thị biểu diễn như sau:</p>
    <img src="~/Content/Image/omega_notation.jpg" alt="Omega Notation" style="display: block; margin-left: auto; margin-right: auto;" />
    <p>Ví dụ, với một hàm f(n):</p>
    <div class="card" style="background-color: #cccccc">
<pre class="prettyprint notranslate card-body">
&Omega;(<i>f</i>(n)) &ge; { <i>g</i>(n) : nếu tồn tại c &gt; 0 và n<sub>0</sub> sao cho <i>g</i>(n) &le; c.<i>f</i>(n) với mọi n &gt; n<sub>0</sub>. }
</pre>
        </div>

        <hr />
        <p>
            Bạn có thể tham khảo các mục sau:
        </p>
        <ul>
            <li><a href="I_3"><b>Phân tích tiệm cận trong cấu trúc dữ liệu và giải thuật</b></a></li>
            <li><a href="I_3_2"><b>Big Oh Notation, &Omicron; trong Cấu trúc dữ liệu và giải thuật</b></a></li>
            <li><a href="I_3_4"><b>Theta Notation, &theta; trong Cấu trúc dữ liệu và giải thuật</b></a></li>
            <li><a href="I_3_5"><b>Ví dụ độ phức tạp trong cấu trúc dữ liệu và giải thuật</b></a></li>
            <li><a href="II"><b>Độ phức tạp của thuật toán</b></a></li>
        </ul>
    </div>
