
@{
    ViewData["Title"] = "Phân tích tiệm cận là gì ?";
    Layout = "~/Views/Main/Menu.cshtml";
}

<div class="container">
    <h2>Phân tích tiệm cận (Asymptotic) là gì ?</h2>
    <blockquote>
        <p>Phân tích tiệm cận tức là tiệm cận dữ liệu đầu vào (Input), tức là nếu giải thuật không có Input thì kết luận cuỗi cùng sẽ là giải thuật sẽ chạy trong một lượng thời gian cụ thể và là hằng số. Ngoài nhân tố Input, các nhân tố khác được xem như là không đổi.</p>
    </blockquote>
    <p>Phân tích tiệm cận nói đến việc ước lượng thời gian chạy của bất kỳ phép tính nào trong các bước tính toán. Ví dụ, thời gian chạy của một phép tính nào đó được ước lượng là một hàm <b>f(n)</b> và với một phép tính khác là hàm <b>g(n<sup>2</sup>)</b>. Điều này có nghĩa là thời gian chạy của phép tính đầu tiên sẽ tăng tuyến tính với sự tăng lên của n và thời gian chạy của phép tính thứ hai sẽ tăng theo hàm mũ khi n tăng lên. Tương tự, khi n là khá nhỏ thì thời gian chạy của hai phép tính là gần như nhau.</p>
    <p>Thường thì thời gian cần thiết bởi một giải thuật được chia thành 3 loại:</p>
    <ul>
        <li><p><b>Trường hợp tốt nhất</b>: là thời gian nhỏ nhất cần thiết để thực thi chương trình.</p></li>
        <li><p><b>Trường hợp trung bình</b>: là thời gian trung bình cần thiết để thực thi chương trình.</p></li>
        <li><p><b>Trường hợp xấu nhất</b>: là thời gian tối đa cần thiết để thực thi chương trình.</p></li>
    </ul>
    <hr />
    <h2>Asymptotic Notation trong Cấu trúc dữ liệu và giải thuật</h2>
    <p>Dưới đây là các Asymptotic Notation được sử dụng phổ biến trong việc ước lượng độ phức tạp thời gian chạy của một giải thuật:</p>
    <ul>
        <li><a href="I_3_2"><b><p>&Omicron; Notation</p></b></a></li>
        <li><a href="I_3_3"><b><p>&Omega; Notation</p></b></a></li>
        <li><a href="I_3_4"><b><p>&theta; Notation</p></b></a></li>
    </ul>
    <hr />
    <p>
        Bạn có thể tham khảo các mục sau:
    </p>
    <ul>
        <li><a href="II"><b>Độ phức tạp của thuật toán</b></a></li>
        <li><a href="I_3_2"><b>Big Oh Notation, &Omicron; trong Cấu trúc dữ liệu và giải thuật</b></a></li>
        <li><a href="I_3_3"><b>Omega Notation, &Omega; trong Cấu trúc dữ liệu và giải thuật</b></a></li>
        <li><a href="I_3_4"><b>Theta Notation, &theta; trong Cấu trúc dữ liệu và giải thuật</b></a></li>
        <li><a href="I_3_5"><b>Ví dụ độ phức tạp trong cấu trúc dữ liệu và giải thuật</b></a></li>
    </ul>
</div>
