
@{
    ViewData["Title"] = "II_1";
    Layout = "~/Views/Main/Menu.cshtml";
}

<div class="container">
    <h2>Độ phức tạp giải thuật (Algorithm Complexity) là gì</h2>
    <blockquote>
        <p>Độ phức tạp giải thuật là một hàm ước lượng (có thể không chính xác) số phép tính mà giải thuật cần thực hiện (từ đó dễ dàng suy ra thời gian thực hiện của giải thuật) đối với bộ dữ liệu đầu vào (Input) có kích thước <b>n</b>. Trong đó, n có thể là số phần tử của mảng trong trường hợp bài toán sắp xếp hoặc tìm kiếm, hoặc có thể là độ lớn của số trong bài toán kiểm tra số nguyên tố, …</p>
    </blockquote>
    <p>Giả sử X là một giải thuật và n là kích cỡ của dữ liệu đầu vào. Thời gian và lượng bộ nhớ được sử dụng bởi giải thuật X là hai nhân tố chính quyết định hiệu quả của giải thuật X:</p>
    <ul>
        <li><p><a href="II_2"><b>Nhân tố thời gian</b></a>: Thời gian được đánh giá bằng việc tính số phép tính chính (chẳng hạn như các phép so sánh trong thuật toán sắp xếp).</p></li>
        <li><p><a href="II_3"><b>Nhân tố bộ nhớ</b></a> Lượng bộ nhớ được đánh giá bằng việc tính lượng bộ nhớ tối đa mà giải thuật cần sử dụng.</p></li>
    </ul>
    <p>Độ phức tạp của một giải thuật (một hàm f(n)) cung cấp mối quan hệ giữa thời gian chạy và/hoặc lượng bộ nhớ cần được sử dụng bởi giải thuật.</p>

    <hr />
    <p>
        Bạn có thể tham khảo các mục sau:
    </p>
    <ul>
        <li><a href="I_3"><b>Phân tích tiệm cận trong cấu trúc dữ liệu và giải thuật</b></a></li>
        <li><a href="II_2"><b>Nhân tố thời gian (Độ phức tạp thời gian)</b></a></li>
        <li><a href="II_3"><b>Nhân tố bộ nhớ (Độ phức tạp bộ nhớ)</b></a></li>
    </ul>
</div>