
@{
    ViewData["Title"] = "Các quy tắc để xác định độ phức tạp của giải thuật";
    Layout = "~/Views/Main/Menu.cshtml";
}

<div class="container">
    <h2>Các quy tắc để xác định độ phức tạp của giải thuật</h2>

    <p>Cách tính độ phức tạp của một giải thuật bất kỳ là một vấn đề không đơn giản. Tuy nhiên ta có thể tuân theo một số nguyên tắc sau:</p>
    <ul>
        <li><a href="II_4_1"><b>Quy tắc bỏ hằng số</b></a></li>
        <li><a href="II_4_2"><b>Quy tắc cộng - lấy max</b></a></li>
        <li><a href="II_4_3"><b>Quy tắc nhân</b></a></li>
        <li><a href="II_4_4"><b>Quy tắc tổng quát</b></a></li>
    </ul>

    <hr />
    <p>
        Bạn có thể tham khảo các mục sau:
    </p>
    <ul>
        <li><a href="II_1"><b>Độ phức tạp của thuật toán là gì</b></a></li>
        <li><a href="I_3_5"><b>Ví dụ độ phức tạp trong cấu trúc dữ liệu và giải thuật</b></a></li>
        <li><a href="II_2"><b>Nhân tố thời gian (Độ phức tạp thời gian)</b></a></li>
        <li><a href="II_3"><b>Nhân tố bộ nhớ (Độ phức tạp bộ nhớ)</b></a></li>
    </ul>
</div>