<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KnowledgeManage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" type="image/png" href="~/Image/icon/favicon.png" />
  
</head>

<body style="background-color: #4A4A4A;" class="fixed-top">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #ffb5e8">
            <div class="container">
                <img src="~/Image/icon/favicon.png" asp-controller="Home" asp-action="Index"  style="width: 4%"/>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index" style="color: black">LEARNICORN</a>
                <a class="nav-link border-left border-dark" asp-controller="DS_and_A" asp-action="Content" style="color: black">CẤU TRÚC DỮ LIỆU & GIẢI THUẬT</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light text-hide" href="#" id="navbardrop" data-toggle="dropdown">
                                Quản lý dữ liệu
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="lessons" asp-action="index">Quản lý chủ đề</a>
                                <a class="dropdown-item" asp-controller="relationships" asp-action="index">Quản lý quan hệ</a>
                                <a class="dropdown-item" asp-controller="concepts" asp-action="index">Quản lý các khái niệm</a>
                                <a class="dropdown-item" asp-controller="constructs" asp-action="index">Quản lý biểu diễn CTDL hoặc xây dựng giải thuật</a>
                                <a class="dropdown-item" asp-controller="properties" asp-action="index">Quản lý các luật, tính chất</a>
                                <a class="dropdown-item" asp-controller="operators" asp-action="index">Quản lý các toán tử</a>
                                <a class="dropdown-item" asp-controller="exercises" asp-action="index">Quản lý bài tập</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div>
        <footer>
            <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
            <df-messenger intent="WELCOME"
                          chat-title="BOT_CTDL-GT"
                          agent-id="d36c12e9-2cda-40f5-863b-1ff0a3fedd4c"
                          language-code="en"></df-messenger>
        </footer>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
